/* main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
.container {
  position: relative;
  padding: 100px;
  width: 100%;
  min-height: 100vh;
  background: var(--white);
}
a{
  text-decoration: none!important;
}
/* nav */
.navbar-custom{
  background-color:#D2AC47;
}
/* header */
.bg-image{
  height: 50%;
  background: center no-repeat;
}
/* contact */
.form-group,form>.btn{
  margin:30px;
}
.btn-primary{
  background-color:#D2AC47;
  border-color:#D2AC47;
}