/* main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
.container {
  position: relative;
  padding: 30px;
  width: 100%;
  min-height: 100vh;
  background: var(--white);
}
a {
  text-decoration: none !important;
}

/* nav */
nav {
  padding-left: 15px;
  padding-right: 10px;
}
.navbar-custom {
  background-color: #d2ac47;
}
/* header */
.bg-image {
  background: center no-repeat;
}
/* gallery */
#galleryCarousel {
  width: -moz-fit-content;
  width: fit-content;
  height: fit-content;
  margin: auto;
}
/* contact */

.form-group, form>.btn {
  margin: 30px;
}

.btn-primary {
  background-color: #d2ac47;
  border-color: #d2ac47;
}
